body {
  background: #ACCEEC;
  text-align: center;
  height: auto;
  width: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.counterComponent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .counterComponentContainer {
    display: flex;
    height: 20%;
    width: 75%;
    justify-content: space-around;
    align-items: center;
  }
}

.header-container {
  display: flex;
  width: auto;
  height: 15%;
  align-items: flex-end;
  flex-direction: column;
  border: 1px black solid;

  .header-title {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    width: 100%;
  }

  .header-items-container {
    display: flex;
    width: 100%;
    border-top: 1px black solid;
    align-items: center;

    .header-item {
      flex: 1;
      border-right: 1px black solid;

    }
    :last-child {
      border-right: none;
    }
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  border: 1px solid black;
  width: auto;
}

.body-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 75%;
  width: 100%;

  .past-campaigns-container {
    border: 1px solid black;
    width: 100%;
  }

  .current-campaigns-container {
    border: 1px solid black;
    width: 100%;
  }
}